html {
  scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
}
body.no-scroll{
    overflow: hidden;
}
:root {
    --font-family-primary: 'Helvetica Neue', Arial, sans-serif;
    --font-family-heading: 'Georgia', serif;
    --font-family-code: monospace;
    
    --font-size-base: 16px; 
    --font-size-sm: 0.875rem; 
    --font-size-lg: 1.25rem;
    --font-size-h1: 2.5rem;
    
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* global? */

    .aboutMeBox{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: var(--bs-font-monospace);
    }
    .aboutMeBox > span{
        padding: 30px;
        border-top: 10px solid;
        border-right: 10px solid;
        border-bottom: 10px solid;
        border-left: 10px solid;
        }
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        height: 80px;
        background-color:   #313131;
    }
/* Mobile */
@media (max-width: 765px) {
    #navBar > .logo{
        display: flex;
        align-items: center;
        z-index: 1;
        height: 50px;
        margin-left: 20px;
    }   
    #navBar {
        justify-content: space-around;
        z-index: 2000;
        align-items: center;
        background-color:   #313131;
    }
    #nav-menu {
        position: fixed; 
        top: -100%; 
        left: 0;
        width: 100%;
        height: 230px;
        background-color:   #313131;
        z-index: 10;
        transition: top 0.3s ease-out;
    }
    #nav-menu.active {
        display: block;
        top: 70px;
        left: -30px;
        width: -webkit-fill-available;
        height: 285px;
        z-index: 2000;
    }
    nav li{
        list-style-type: none;
    }
    nav li a {
        text-decoration: none;
        color: #fff;
    }
    #logo{
        z-index: 1;
        align-items: center;
    }
    #logo > a{
        z-index: 2000;
        position: relative;
    }
    .bgForUl{
        position: absolute;   
        z-index: 0;
        height: 10vh;
        width: 100vw;
        background-color: #313131;
    }
    li > a {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid #444;
        text-align: center;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 2000;
        transition: 0.3s;
        background-color: transparent;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 4px;
        border: none;
        animation: fadeIn 0.5s ease-in;
    }
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s;
        animation: fadeIn 0.5s ease-in;
    }
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
    /* FOR MODAL */
    #model-portrait{
        top: -100%;
        position: fixed;
        visibility: hidden;
    }
    #model-portrait.active {
        display: flex;
        z-index: -1;
        height: 100vh;
        width: 100vw;
        align-items: center;
        top: 85px;
        left: 0;
        visibility: visible;
        animation: fadeIn 1s ease-in;
        background-color: grey;
        overflow: hidden;
    }
    .modelStanding{
        top: 145px;
        position: absolute;
    }
    #model-portrait > .modalEl{
        display: flex;
        right: 0;
        position: absolute;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        left: 200px;
        position: relative;
        color: #fff;
        z-index: 1;
        position: absolute;
        right: 0;
    }
    .modelStanding > img{
        width: clamp(50px, 260px, 260px);
    }
    #socials{
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin: 50px;
    }
    #socials > a{
        color: #fff;
        text-decoration: none;
    }
    #modalIntroduction{
        pointer-events: none;
    }
    #modalCover{
        position: absolute;
        height: 700px;
        width: 2000px;
        top: 100px;
        left: -80px;
        transform: rotate(-25deg);
        background-color: rgb(20, 20, 20, 0.8);
        z-index: -1;
    }
    #cover{
        margin: 0 400px -430px 400px;
        position: absolute;
        height: 1450px;
        width: 680px;
        background-color: rgb(37, 37, 37, 0.5);
        transform: rotate(65deg);
        z-index: -1;
        border-radius: 5px;
    }
    #closeBtn{
        top: 0;
        right: 0;
        position: absolute;
    }
    #closeBtn:hover{
        filter: invert(100%);
    }
    #close-sign{
        cursor: pointer;
    }
/* end of modal */

/* hero section */
    .heroSection{
        display: flex;
    }
    .heroCover{
        width: 100%;
    }
    .details{
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        font-family: var(--font-family-primary);
        font-size: 15px;
        font-weight: 900;
        right: 5rem;
        top: 10rem;
        flex-direction: column;
    }
    .itBerries{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itBerries p{
        position: absolute;
        color: white;
        padding: 210px;
    }
    .my-background-container{
        background-image: linear-gradient(to top, rgba(24, 24, 24, 1.6), rgba(24, 24, 24, 0.1)), url(img/bengking.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 250px;
        width: 100%;
    }
    .itBerries{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itBerries p{
        position: absolute;
        color: white;
        padding: 210px;
    }
    .aboutMeWrapper{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .exploreWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exploreSec{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 4px solid;
        border-left: 4px solid;
        padding: 0 80px;
        height: 10vw;
    }
    .tattoo{
        margin: 20px 0 0 0;
        position: absolute;
        height: 20px;
        border: 2px;
        transform: translate(-10px, 130px);
    }
    .tattoo > span:nth-child(1){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(45deg) translate(0px, -19px);
    }
    .tattoo > span:nth-child(2){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(-45deg) translate(10px, -9px);
    }
    .tattoo > span:nth-child(3){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(45deg) 
        translate(0px, -19px) 
        translateX(10px) 
        translateY(-10px);
    }
    .tattoo > span:nth-child(4){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(-45deg) 
        translate(10px, -38px) 
        translateX(-10px)
        translateY(20px);
    }
    .tattoo > span:nth-child(5){
        position: absolute; 
        height: 60px;
        border: 2px solid black;
        transform: rotate(-90deg)
        translate(25px, -90px)
        translateX(5px) 
        translateY(20px);
    }
    .tattoo > span:nth-child(6){
        position: absolute;
        height: 60px;
        border: 2px solid black;
        transform: rotate(90deg) 
        translate(5px, -40px) 
        translateX(-35px) 
        translateY(-50px);
    }
    .desDev{
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .tattoo1{
        display: flex;
        justify-content: center;
    }
    .tattoo1 > span:nth-child(1){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(45deg) translate(0px, -19px);
    }
    .tattoo1 > span:nth-child(2){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(-45deg) translate(10px, -9px);
    }
    .tattoo1 > span:nth-child(3){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(45deg) 
        translate(0px, -19px) 
        translateX(10px) 
        translateY(-10px);
    }
    .tattoo1 > span:nth-child(4){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(-45deg) 
        translate(10px, -38px) 
        translateX(-10px)
        translateY(20px);
    }
    .tattoo1 > span:nth-child(5){
        position: absolute; 
        height: 60px;
        border: 2px solid black;
        transform: rotate(-90deg)
        translate(25px, -90px)
        translateX(5px) 
        translateY(20px);
    }
    .tattoo1 > span:nth-child(6){
        position: absolute;
        height: 60px;
        border: 2px solid black;
        transform: rotate(90deg) 
        translate(5px, -40px) 
        translateX(-35px) 
        translateY(-50px);
    }
    .designStyle{
        margin-top: 50px;
    }
    #usingNow{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .threeTechnologies{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .threeTechnologiesSec{
        width: 250px;
    }


}

/*--------------------- Desktop------------------------- */
@media (min-width: 766px) {
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
    }
    #navBar > .logo{
        display: flex;
        align-items: center;
        z-index: 1;
        height: 50px;
        margin-left: 20px;
    }
    .hamburger {
        display: none;
    }
    #navBar{
        z-index: 2000;
        padding: 1rem;
        justify-content: space-around;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
    }
    nav ul.active li a {
        display: block;
    }
    #nav-menu{
        display: flex;
        gap: 2rem;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
        padding: 30px;
        list-style-type: none;
    }
    #nav-menu li a:hover{
        text-decoration: underline;
    }
    /* for modal */
    #model-portrait{
        top: 100%;
        position: fixed;
        visibility: hidden;
    }
    #model-portrait.active {
        display: flex;
        height: 100vh;
        width: 100vw;
        align-items: center;
        top: 80px;
        left: 0;
        visibility: visible;
        animation: fadeIn 1s ease-in;
        background-color: rgb(128, 128, 128);
        overflow: hidden;
    }
    #model-portrait > .modalEl{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        left: 200px;
        color: #fff;
        z-index: 1;
        position: absolute;
        right: 0;
    }
    .heroSection .heroCover{
        height: 100%;
    width: 100%;
    }
    #socials{
        display: flex;
        gap: 60px;
        margin: 20px 0 0 50px;
    }
    #socials > a{
        color: black;
        text-decoration: none;
    }
    #socials > a:hover{
        filter: invert(50%);
        text-decoration: underline;
    }
    #modalCover{
        position: absolute;
        height: 700px;
        width: 1000px;
        top: 170px;
        left: -130px;
        transform: rotate(-35deg);
        background-color: rgb(20, 20, 20, 0.8);
        position: absolute;
        height: 1000px;
        width: 3100px;
        top: 50px;
        left: 0px;
        transform: rotate(-25deg); 
        background-color: rgb(20, 20, 20, 0.8); 
        z-index: -1;
    }
    /* for cover */
    #cover{
        visibility: hidden;
        background-color: rgb(59, 59, 59, 0.6);
        position: absolute;
        top: -200px;
        right: 0;
        transform: rotate(65deg);
        height: 2000px;
        width: 1000px;
        z-index: -1;
    }
    #cover.active{
        visibility: visible;
    }
    #closeBtn{
        top: 0;
        right: 0;
        position: absolute;
    }
    #closeBtn:hover{
        filter: invert(100%);
    }
    #close-sign{
        cursor: pointer;
    }
    #modalIntroduction{
        top: 1000px;
        pointer-events: none;
    }
    #socials a img:hover{
        filter: invert(50%);
    }
    .heroSection{
        display: flex;
    }
    .details{
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        font-family: var(--font-family-primary);
        font-size: 29px;
        font-weight: 900;
        right: 5rem;
        top: 10rem;
        flex-direction: column;
    }
    .itBerries{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itBerries p{
        position: absolute;
        color: white;
        padding: 210px;
    }
    .my-background-container{
        background-image: linear-gradient(to top, rgba(24, 24, 24, 1.6), rgba(24, 24, 24, 0.1)), url(img/bengking.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 300px;
        width: 100%;
    }
    .itBerries{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itBerries p{
        position: absolute;
        color: white;
        padding: 210px;
    }
    .aboutMeWrapper{
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .exploreWrapper{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .exploreSec{
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 4px solid;
        border-left: 4px solid;
        padding: 0 80px;
        height: 10%;
    }
    .tattoo{
        margin: 20px 0 0 0;
        position: absolute;
        height: 20px;
        border: 2px;
        transform: translate(-10px, 120px);
    }
    .tattoo > span:nth-child(1){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(45deg) translate(0px, -19px);
    }
    .tattoo > span:nth-child(2){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(-45deg) translate(10px, -9px);
    }
    .tattoo > span:nth-child(3){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(45deg) 
        translate(0px, -19px) 
        translateX(10px) 
        translateY(-10px);
    }
    .tattoo > span:nth-child(4){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(-45deg) 
        translate(10px, -38px) 
        translateX(-10px)
        translateY(20px);
    }
    .tattoo > span:nth-child(5){
        position: absolute; 
        height: 60px;
        border: 2px solid black;
        transform: rotate(-90deg)
        translate(25px, -90px)
        translateX(5px) 
        translateY(20px);
    }
    .tattoo > span:nth-child(6){
        position: absolute;
        height: 60px;
        border: 2px solid black;
        transform: rotate(90deg) 
        translate(5px, -40px) 
        translateX(-35px) 
        translateY(-50px);
    }
    .desDev{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        flex-wrap: wrap;
        position: relative;
    }
    .desDev :nth-child(1){
        flex: 0 0 calc(50% - 5px);
    }
    .desDev :nth-child(2){
        flex: 0 0 calc(50% - 5px);
    }
    .tattoo1{
        margin: 20px 0 0 0;
        height: 20px;
        position: relative;
        margin-left: 50%;   
    }
    .tattoo1 > span:nth-child(1){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(45deg) translate(0px, -19px);
    }
    .tattoo1 > span:nth-child(2){
        position: absolute;
        height: 20px;
        border: 2px solid black;
        transform: rotate(-45deg) translate(10px, -9px);
    }
    .tattoo1 > span:nth-child(3){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(45deg) 
        translate(0px, -19px) 
        translateX(10px) 
        translateY(-10px);
    }
    .tattoo1 > span:nth-child(4){
        position: absolute;
        height: 22px;
        border: 2px solid black;
        transform: rotate(-45deg) 
        translate(10px, -38px) 
        translateX(-10px)
        translateY(20px);
    }
    .tattoo1 > span:nth-child(5){
        position: absolute; 
        height: 60px;
        border: 2px solid black;
        transform: rotate(-90deg)
        translate(25px, -90px)
        translateX(5px) 
        translateY(20px);
    }
    .tattoo1 > span:nth-child(6){
        position: absolute;
        height: 60px;
        border: 2px solid black;
        transform: rotate(90deg) 
        translate(5px, -40px) 
        translateX(-35px) 
        translateY(-50px);
    }
    #usingNow{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .threeTechnologies{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }


}