body {
    margin: 0;
    font-family: Arial, sans-serif;
    height: 1000px;
    height: 1250px;
}
:root {
    --font-family-primary: 'Helvetica Neue', Arial, sans-serif;
    --font-family-heading: 'Georgia', serif;
    --font-family-code: monospace;
    
    --font-size-base: 16px; 
    --font-size-sm: 0.875rem; 
    --font-size-lg: 1.25rem;
    --font-size-h1: 2.5rem;
    
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}
.dm-serif-display-regular {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}
.dm-serif-display-regular-italic {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: italic;
}
.archivo-black-regular {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
/* Mobile */
@media (max-width: 765px) {
    #logo{
        height: 50px;
        width: auto;
        margin-left: 20px;
    }
    #navBar {
        justify-content: space-around;
        z-index: 2000;
        align-items: center;
    }
    #nav-menu {
        position: fixed; 
        top: -100%; 
        left: 0;
        width: 100%;
        height: 230px;
        background-color:   #313131;
        z-index: 10;
        transition: top 0.3s ease-out;
    }
    #nav-menu.active {
        display: block;
        top: 0;
        height: 230px;
        z-index: 2000;
    }
    nav li{
        list-style-type: none;
    }
    nav li a {
        text-decoration: none;
        color: #fff;
    }
    li > a {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid #444;
        text-align: center;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 2000;
        transition: 0.3s;
        background-color: transparent;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 4px;
        border: none;
        animation: fadeIn 0.5s ease-in;
    }
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s;
        animation: fadeIn 0.5s ease-in;
    }
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
    /* FOR MODAL */
        #model-portrait{
            top: -100%;
            position: fixed;
            visibility: hidden;
        }
        #model-portrait.active {
            display: flex;
            width: -webkit-fill-available;
            align-items: center;
            top: 70px;
            left: 0;
            visibility: visible;
            animation: fadeIn 1s ease-in;
            background-color: grey;
            overflow: hidden;
        }
        #cover{
            margin: 0 400px -430px 400px;
            position: absolute;
            height: 1450px;
            width: 680px;
            background-color: rgb(37, 37, 37, 0.5);
            transform: rotate(65deg);
            z-index: -1;
            border-radius: 5px;
        }
        #closeBtn{
            top: 0;
            right: 0;
            position: absolute;
        }
        #closeBtn:hover{
            filter: invert(100%);
        }
        #close-sign{
            cursor: pointer;
        }
        #socials{
            display: grid;
            gap: 20px;
            margin: 50px;
        }
        #socials > a{
            color: black;
            text-decoration: none;
        }
        #modalIntroduction{
            pointer-events: none;
        }
    /* end of modal */

    /* hero section */
        .heroSection{
            display: flex;
        }
        .heroCover{
            width: 100%;
        }
        .details{
            display: inline-flex;
            flex-wrap: wrap;
            position: absolute;
            font-family: "DM Serif Display", serif;
            font-size: 29px;
            font-weight: 900;
            right: 5rem;
            top: 10rem;
            flex-direction: column;
        }
        .itBerries{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #itBerries p{
            position: absolute;
            color: white;
            padding: 210px;
        }
        .my-background-container{
            background-image: linear-gradient(to top, rgba(24, 24, 24, 1.6), rgba(24, 24, 24, 0.1)), url(img/bengking.jpg);
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            height: 500px;
            width: 100%;
        }
        .itBerries{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #itBerries p{
            position: absolute;
            color: white;
            padding: 210px;
        }
    /* about me section */
        .aboutMe{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            height: 1000px;
            background-color: purple;
        }
        .aboutMeDets{
            margin: 20px;
        }
        .aboutMe h1{
            display: flex;
            justify-content: center;
        }
        .aboutMe h3{
            font-size: var(--font-size-sm);
        }
}

/* Desktop */
@media (min-width: 766px) {
    #logo{
        display: flex;
        height: 50px;
        margin-left: 20px;
    }
    .hamburger {
        display: none;
    }
    #navBar{
        z-index: 2000;
        padding: 1rem;
        justify-content: space-around;
    }
    nav ul li a {
        text-decoration: none;
        color: white;
    }
    nav ul.active li a {
        display: block;
    }
    #nav-menu{
        display: flex;
        gap: 2rem;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
        padding: 30px;
        list-style-type: none;
    }
    #nav-menu li a:hover{
        text-decoration: underline;
    }
    /* for modal */
    #model-portrait{
        top: -100%;
        position: fixed;
        visibility: hidden;
    }
    #model-portrait.active {
        display: flex;
        width: -webkit-fill-available;
        align-items: center;
        top: 70px;
        left: 0;
        visibility: visible;
        animation: fadeIn 1s ease-in;
        background-color: rgb(128, 128, 128);
        overflow: hidden;
    }
    .heroSection .heroCover{
        height: 100%;
    width: 100%;
    }
    #socials{
        display: flex;
        gap: 60px;
        margin: 20px 0 0 50px;
    }
    #socials > a{
        color: black;
        text-decoration: none;
    }
    #socials > a:hover{
        filter: invert(50%);
        text-decoration: underline;
    }
    /* for cover */
    #cover{
        visibility: hidden;
        background-color: rgb(59, 59, 59, 0.6);
        position: absolute;
        top: -200px;
        right: 0;
        transform: rotate(65deg);
        height: 2000px;
        width: 1000px;
        z-index: -1;
    }
    #cover.active{
        visibility: visible;
    }
    #closeBtn{
        top: 0;
        right: 0;
        position: absolute;
    }
    #closeBtn:hover{
        filter: invert(100%);
    }
    #close-sign{
        cursor: pointer;
    }
    #modalIntroduction{
        pointer-events: none;
    }
    #socials a img:hover{
        filter: invert(50%);
    }
    .heroSection{
        display: flex;
    }
    .details{
        display: inline-flex;
        flex-wrap: wrap;
        position: absolute;
        font-family: "DM Serif Display", serif;
        font-size: 29px;
        font-weight: 900;
        right: 5rem;
        top: 10rem;
        flex-direction: column;
    }
    .itBerries{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itBerries p{
        position: absolute;
        color: white;
        padding: 210px;
    }
    .my-background-container{
        background-image: linear-gradient(to top, rgba(24, 24, 24, 1.6), rgba(24, 24, 24, 0.1)), url(img/bengking.jpg);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
    }
    .itBerries{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #itBerries p{
        position: absolute;
        color: white;
        padding: 210px;
    }
    .aboutMe{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 1000px;
        background-color: purple;}
}