body {
    margin: 0;
    font-family: Arial, sans-serif;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
}
/* Mobile */
@media (max-width: 765px) {
    #logo{
        height: 50px;
        width: auto;
        margin-left: 20px;
    }
    #navBar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        padding: 1rem;
    }
    /* #nav-menu-desktop{
        display: none;
    } */
    #nav-menu {
        position: fixed; 
        top: -100%; 
        left: 0;
        width: 100%;
        height: 230px;
        background-color: #333;
        z-index: 10;
        transition: top 0.3s ease-out;
    }
    #nav-menu.active {
        display: block;
        top: 0;
        height: 230px;
        z-index: 2000;
    }
    nav li{
        list-style-type: none;
    }
    nav li a {
        text-decoration: none;
        color: #fff;
    }
    li > a {
        display: block;
        padding: 1rem;
        border-bottom: 1px solid #444;
        text-align: center;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        cursor: pointer;
        z-index: 2000;
        transition: 0.3s;
        background-color: transparent;
        gap: 0.5rem;
        padding: 0.5rem;
        border-radius: 4px;
        border: none;
        animation: fadeIn 0.5s ease-in;
    }
    .hamburger span {
        width: 25px;
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transition: 0.3s;
        animation: fadeIn 0.5s ease-in;
    }
    .hamburger.active span:nth-child(1) {
        transform: rotate(45deg) translate(10px, 10px);
    }
    .hamburger.active span:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -7px);
    }
    #model-portrait{
        top: -100%;
        position: fixed;
        visibility: hidden;
    }
    #model-portrait.active {
        display: block;
        height: 800px;
        width: auto;
        margin: 40px 0 0 -300px;
        top: 0;
        visibility: visible;
        animation: fadeIn 1s ease-in;
    }
    
}

/* Desktop */
@media (min-width: 766px) {
    #logo{
        display: flex;
        height: 50px;
        width: auto;
        margin-left: 20px;
    }
    .hamburger {
        display: none;
    }
    nav ul li a {
    text-decoration: none;
    color: white;
    }
    nav ul.active li a {
        display: block;
    }
    #nav-menu{
        display: flex;
        gap: 2rem;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
        padding: 30px;
        list-style-type: none;
    }
    #model-portrait{
        display: none;
    }
}